name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version: ["27.2", "28.2", "29.4"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Emacs
        uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
        with:
          version: ${{ matrix.emacs_version }}

      - name: Run tests
        run: make test

      - name: Byte-compile check
        run: make lint
